body, html {
    height: 100%;
    margin: 0;
}

body {
    background-color: #FF1493;
}

.center-text {
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

#targetButton {
    padding: 10px 20px;
    background-color: lightblue;
    transition: transform 0.3s ease;
}

.button-row {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}


.form-container,
.confirmation {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.6);
    opacity: 0;
    background: white;
    padding: 25px;
    border-radius: 15px;
    width: 320px;
    pointer-events: none;
    transition: all 0.4s ease;
}

.form-container.show,
.confirmation.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
    pointer-events: auto;
    background: #dc0707
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border-radius: 6px;
    border: 1px solid #e60a71;
}

.hidden {
    display: none;
}
